@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Sacramento&display=swap');

.portfolio, h1{
    font-family: 'Sacramento', cursive;
    /* color: rgb(248, 223, 223); */

}
.right-row{
    font-family: 'Markazi Text', serif;
    /* font-family: 'Sacramento', cursive; */
    color: rgb(248, 223, 223);
     color: rgb(223, 248, 248);
    font-size: 1.5rem;
}
.right-button{
    border: 1px solid white;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
     border-top-right-radius: 40%;
    border-bottom-right-radius: 40%
}
.active{
    background-color: rgb(243, 8, 98);
    margin-top: 0;
}
